<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
</head>
<body>
  <h1>Profile Page</h1>
  <p>Username: {{ user.username }}</p>
  <p>User Type: {{ user.get_user_type_display }}</p>
  <p><a href="{% url 'password_reset' %}">Reset Password</a></p>

  <!-- Use a form to submit a POST request for logout -->
  <form method="POST" action="{% url 'logout' %}">
    {% csrf_token %}
    <button type="submit">Logout</button>
  </form>
</body>
</html>
